<form action="/" method="POST">
  <div class="mb-3">
    <label for="originalUrl" class="form-label">請輸入網址: </label>
    <div class="row justify-content-center">
      <div class="col-sm-7">
        <input type="text" class="form-control" id="originalUrl" name="originalUrl" aria-describedby="originalUrl"
          required>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">送出</button>
</form>