<p>成功! 你的新網址: </p>
<a href="{{ url.originalUrl }}" target="_blank" id="url">{{ fullUrl }}</a>

<button id="copy-button" class="btn btn-primary">Copy</button>

{{!-- 引入一鍵複製的功能 --}}
<script src="/javascripts/copy.js"></script>